@model General

<body style="color:black">


    <h1>Welcome and shop with Us</h1>
    <div style="font-size:x-small;color:gray">Well come and create better ui</div>
    <hr />


    @if (Model.products.Count() != 0)
    {
        @Html.Partial("_Product",Model)

    }
    else
    {
        <div>No data</div>
    }
</body>